@font-face {
    font-family: iranYekan;
    src: url(/src/assets/font/Qs_Iranyekan.ttf) format(ttf),
    url(/src/assets/font/Qs_Iranyekan.eot) format(eot),
    url(/src/assets/font/Qs_Iranyekan.woff2) format(woff2),
    url(/src/assets/font/Qs_Iranyekan.woff2) format(woff);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: iranYekan;
}
